body {
    font-family: Arial, sans-serif;
    background:#f3eead;
    color: #333;
    margin: 0;
    padding: 0;
}

.glowna {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

header {
    background: linear-gradient(to right top, #fcff45, #f3eead);
    color: black;
    padding: 15px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a.nav-btn {
    display: block;
    color: black;
    background: linear-gradient(to bottom, red, rgb(255, 196, 0));
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border: solid black 1px;
    width: 100%;
    max-width: 750px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease; /* animacja */
}

nav a.nav-btn:hover {
    background: orange;
    transform: scale(1.05);   /* lekko powiększa przycisk */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* cień */
}

section {
    padding: 15px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid #ccc;
}

footer {
    background: linear-gradient(to top, #000000,#f3eead);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
.Pismoreczne {
    font-family: Bradley Hand, cursive;
}
