body {
    font-family: Arial, sans-serif;
    background:#1c5529;
    color: #333;
    margin: 0;
    padding: 0;
}

main{
    background-color: #87b373;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

header {
    background: linear-gradient(to bottom, #055f20, #1c5529);
    color: black;
    padding: 15px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a.przycisk {
    display: block;
    color: black;
    background: linear-gradient(to right top, #143f1e, rgb(66, 235, 131));
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border: solid black 1px;
    width: 100%;
    max-width: 750px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.5s ease;
}

nav a.przycisk:hover {
    background: linear-gradient(to right top, #143f1e, rgb(66, 235, 131));
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.5s ease;
}

section {
    padding: 15px;
    background-color: #87b373;
    margin: 20px;
    border: 1px solid black;
}

footer {
    background: linear-gradient(to top, #000000,#1c5529);
    color: rgb(112, 112, 112);
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
.Pismoreczne {
    font-family: Bradley Hand, cursive;
}